@import "../../pallete.less";
.about{
    .sect0{
        margin-top: 100px;
        margin-bottom: 100px;
        
        .profile-desc{
            background-color: transparent!important;
            box-shadow: none;
            .text{
                margin: auto;
                display: flex;
                flex-direction: column;
                @media @min768 {
                    flex-direction: row;
                }
                gap: 50px;
                // padding: 10px;
                h1{
                    line-height: 40px;
                    width: fit-content;
                    span{
                        font-size: 30px;
                    }
                }
            }
            img{
                @media @min0 {
                    display: none;
                    width: 0px;

                }
                @media @min768{
                    display: block;
                    width: 312px;
                }
                
                margin-left: 50%;
                margin-top: 50px;
                transform: translateX(-50%);
                
            }
        }
    }
    .sect1{
        background-color:lighten(@background,3);
        padding-top: 100px;
        padding-bottom: 100px;
        .grid{
            gap: 10px;
            display: grid;
            @media @min768 {
                grid-template-columns: 1fr 1fr ;    
            }
            @media @min968 {
                grid-template-columns: 1fr 1fr 1fr 1fr ;    
            }
            
            .hide-item{

                // background-color: @color3;
                .button{
                    // color: @text;
                }
            }
        }
    }
    .sect2{
        margin-top: 100px;
        margin-bottom: 100px;
        .grid{
            gap: 10px;
            display: grid;
            grid-template-columns: 1fr;
            @media @min768 {
                grid-template-columns: 1fr 1fr 1fr ;    
            }
            padding: 10px;
            min-height: 400px;
            .box{
                background-color: transparent;
                box-shadow: none;
            }
            .box:nth-child(1){
                margin: auto;
                grid-column: span 2;
                padding: 10px;
                p{
                    transition: scale 250ms ease-in;
                    &:hover{
                        scale: 1.05;
                    }
                    .bullet{
                        &::after{
                            content: "•";
                            opacity: .75;
                        }
                    }
                }
            }
            .box:nth-child(2){
                @media @min768 {
                    visibility: visible;
                }
                visibility: hidden;
                background-position: center;
                background-size: contain;
                background-image: url("/image18.png");
                background-repeat: no-repeat;
            }
        }
    }
    .sect3{
        padding: 100px 0;
        background-color: lighten(@background,3);
        .grid{
            margin-top: 75px;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr;
            // overflow-x: auto;
            
            @media @min468 {
                grid-template-columns: 1fr 1fr ;    
            }
            @media @min768 {
                grid-template-columns: 1fr 1fr 1fr 1fr ;    
            }
            @media @min968 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;    
            }
        }
    }
}